Repository scalatra/scalatra, pull requests merged in 2018-05, with the labels that each got.

#814 retain order of paths in swagger 2.0
  swagger/src/main/scala/org/scalatra/swagger/SwaggerBase.scala
Labels: swagger

#825 Deleted conditional branch for form data
  json/src/main/scala/org/scalatra/json/JsonSupport.scala
  json/src/test/scala/org/scalatra/json/JsonRequestBodySpec.scala
Labels: enhancement, json

#827 deterred the premature JSON parse
  json/src/main/scala/org/scalatra/json/JsonSupport.scala
Labels: enhancement, json

#826 deprecated JsonValueReader
  json/src/main/scala/org/scalatra/json/Jackson.scala
  json/src/main/scala/org/scalatra/json/NativeJson.scala
Labels: enhancement, json

#828 deleted dependency on scalatra-json
  atmosphere/src/main/scala/org/scalatra/atmosphere/AtmosphereSupport.scala
  atmosphere/src/test/scala/org/scalatra/atmosphere/AtmosphereSpec.scala
  build.sbt
Labels: json
